{% extends 'email/layout.html.twig' %} 
{% block title %}
    <p style="margin: 0; font-size: 16px; text-align: center;"><span style="font-size:46px;color:#003188;"><strong>Password Reset successfully</strong></span></p>
    {% endblock %}
{% block content %}
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Their {{username}}, <br />you successfully update your SoPay password. you still use it for further connexion to your dashboard</span></p>
    <p style="margin: 0; mso-line-height-alt: 18px;"> </p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;"> If is not you, contact us by repplying this mail else do not do anything. </span></p>
    <p style="margin: 0; mso-line-height-alt: 18px;"> </p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Feel free to contact us by <a href="https://app.soleaspay.com/contact-us">Contact Support</a> 24/24/7!</span></p>
{% endblock %}