{% extends 'email/layout.html.twig' %} 
{% block title %}
    <p style="margin: 0; font-size: 16px; text-align: center;"><span style="font-size:46px;color:#003188;"><strong>Need a new Password !</strong></span></p>
    {% endblock %}
{% block content %}
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Their {{username}}, Thank you for contact us to reset your password.</span></p>
    <p style="margin: 0; mso-line-height-alt: 18px;"> </p>
    <p class="text-center" style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;"><a href='{{url}}'><input class='btn btn-primary' type='button' value='click here to Reset your Password'/></a></span></p>
{% endblock %}